<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="AppGuid" value="{9E89F118-CFD4-4D68-BA0A-86E9B0138F65}"/>
      <add key="AppName" value="BloodtiesLauncher"/>
      <add key="DefaultConnectionLimit" value="10"/>
      <add key="RootGamesFolder" value="ToadmanGames"/>
      <add key="AppDataRootFolderName" value="Toadman"/>
      <add key="AppDataFolderName" value="BloodtiesLauncher"/>
      <add key="ApiUrl" value="https://helios.yourcompany.com/"/>
      <add key="UpdateUrl" value="https://tdn.yourcompany.com/public/update/bloodties-launcher/"/>
      <add key="CheckUpdateInterval" value="5000"/>
      <add key="TempFolderName" value="BloodtiesLauncher"/>
      <add key="TempSetupFileName" value="bloodties_launcher_setup_"/>
      <add key="SetupFileName" value="bloodties_launcher_setup.exe"/>    
      <add key="BloodtiesExeRelPath" value="..\Bloodties.exe"/>
    </appSettings>
</configuration>
